<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        EMS Analytics Dashboard
    </title>

    <style>

        #loader{

            position: fixed;

            top: 0;

            left: 0;

            width: 100%;

            height: 100%;

            background: rgba(255,255,255,0.25);

            backdrop-filter: blur(2px);

            z-index: 9999;

            display: flex;

            justify-content: center;

            align-items: center;

        }

        .spinner-border{

            width: 5rem;

            height: 5rem;
        }

        /* CHAT BUTTON */

        #chatbotBtn{

            position: fixed;

            bottom: 20px;

            right: 20px;

            width: 60px;

            height: 60px;

            border-radius: 50%;

            border: none;

            font-size: 24px;

            background: rgba(51, 51, 51, 0.573);

            color: white;

            z-index: 9998;

            box-shadow: 0 4px 10px rgba(0,0,0,0.3);

        }


        /* CHAT WINDOW */

        #chatbotWindow{

            position: fixed;
            bottom: 100px;
            right: 20px;

            width: 400px;
            height: 500px;

            background: white;
            border-radius: 10px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.3);

            display: none;

            flex-direction: column;

            z-index: 9998;

            resize: both;

            overflow: hidden;

            min-width: 300px;
            min-height: 400px;
        }

        #chatbotHeader{

            background: rgb(44, 44, 44);

            color: white;

            padding: 12px;

            font-weight: bold;

        }

        #sendBtn{

            background-color: rgb(44,44,44);

            width:100%;

            margin-top:5px;

            position:relative;

            z-index:9999;
        }

        .user-message{

            background:#0d6efd;

            color:white;

            padding:10px 15px;

            border-radius:15px;

            margin:8px;

            width:fit-content;

            max-width:80%;

            margin-left:auto;

            text-align:right;

        }

        .bot-message{

            background:#f1f1f1;

            color:black;

            padding:10px 15px;

            border-radius:15px;

            margin:8px;

            width:fit-content;

            max-width:80%;

        }

        #chatMessages{

            flex:1;

            overflow-y:auto;

            padding:10px;

        }

        #chatInputArea{
            padding: 10px;
            background: white;
        }

        #quickActions{

            padding: 10px;

            display: flex;

            flex-wrap: wrap;

            gap: 10px;

            border-bottom: 1px solid #ddd;

        }

        .quick-btn{

            border: none;

            background: #e9ecef;

            padding: 7px 17px;

            border-radius: 20px;

            font-size: 12px;

            cursor: pointer;

            transition: 0.3s;

        }

        .quick-btn:hover{

            background: #0d6efd;

            color: white;

        }

        .chat-time{

            font-size: 10px;

            color: gray;

            margin-top: 5px;

            text-align: right;

        }

        .user-message .chat-time{

            color: rgba(255,255,255,0.8);

        }

        .bot-message .chat-time{

            color: gray;

        }

        .logout-btn{

            background:#dc3545;

            color:white;

            border:none;

            padding:10px 18px;

            border-radius:8px;

            cursor:pointer;

        }

        

    </style>

    <!-- Bootstrap -->

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">

    <!-- Plotly -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body style="background-color:#f5f7fa;">

    <!-- LOADER -->

    <div id="loader">

        <div class="spinner-border
                    text-primary"
            role="status">

        </div>

    </div>

    <!-- NAVBAR -->

    <nav class="navbar navbar-dark bg-primary shadow">

        <div class="container-fluid">

            <span class="navbar-brand fw-bold">

                AI-Based EMS Production Analytics System

            </span>

            <a href="/download_report"
                class="btn btn-success">
                Download Report
            </a>

            <a href="/logout">

                <button class="logout-btn">

                    Logout

                </button>

            </a>

        </div>

    </nav>

    <!-- MAIN LAYOUT -->

    <div class="container-fluid">

        <div class="row">

            <!-- SIDEBAR -->

            <div class="col-md-3 bg-white min-vh-100 shadow p-4">

                <h3 class="mb-4">
                    <b> FILTERS </b>
                </h3>

                <form method="GET" id="filterForm">

                    <!-- DURATION -->
                    <h4>Select Duration</h4>
                    <select id="duration" class="form-select mb-4" name="duration" onchange="this.form.submit()">

                        <option value="Last 7 Days"
                        {% if selected_duration == "Last 7 Days" %}
                        selected
                        {% endif %}
                        >
                            Last 7 Days
                        </option>

                        <option value="Last 30 Days"
                        {% if selected_duration == "Last 30 Days" %}
                        selected
                        {% endif %}
                        >
                            Last 30 Days
                        </option>

                        <option value="Last 8 Weeks"
                        {% if selected_duration == "Last 8 Weeks" %}
                        selected
                        {% endif %}
                        >
                            Last 8 Weeks
                        </option>

                        <option value="Last 6 Months"
                        {% if selected_duration == "Last 6 Months" %}
                        selected
                        {% endif %}
                        >
                            Last 6 Months
                        </option>

                    </select>

                    <!-- SHIFT -->
                    <H4>Select Shift</H4>
                    <select id="shift" class="form-select mb-4" name="shift" onchange="this.form.submit()">

                        <option value="All"
                        {% if selected_shift == "All" %}
                        selected
                        {% endif %}
                        >
                            All
                        </option>

                        <option value="A"
                        {% if selected_shift == "A" %}
                        selected
                        {% endif %}
                        >
                            A
                        </option>

                        <option value="B"
                        {% if selected_shift == "B" %}
                        selected
                        {% endif %}
                        >
                            B
                        </option>

                        <option value="C"
                        {% if selected_shift == "C" %}
                        selected
                        {% endif %}
                        >
                            C
                        </option>

                    </select>

                    <!-- MACHINE -->
                    <H4>Select Machine</H4>
                    <select id="machine" class="form-select mb-4" name="machine" onchange="this.form.submit()">
                        <option value="All"
                        {% if selected_machine == "All" %}
                        selected
                        {% endif %}
                        >
                            All Machines
                        </option>

                        <option value="M-101"
                        {% if selected_machine == "M-101" %}
                        selected
                        {% endif %}
                        >
                            M-101
                        </option>
                        
                        <option value="M-102"
                        {% if selected_machine == "M-102" %}
                        selected
                        {% endif %}
                        >
                            M-102
                        </option>

                        <option value="M-103"
                        {% if selected_machine == "M-103" %}
                        selected
                        {% endif %}
                        >
                            M-103
                        </option>

                    </select>

                

            <!-- PRODUCT ID -->

            <label class="form-label">
                Product
            </label>

            <select id="product_id" class="form-select mb-4" name="product_id" onchange="this.form.submit()">

                <option value="All">
                    All Products
                </option>

                {% for product in product_list %}

                <option value="{{ product }}"

                    {% if selected_product == product %}
                    selected
                    {% endif %}>

                    {{ product }}

                </option>

                {% endfor %}

            </select>

            </form>

            </div>

            <!-- MAIN DASHBOARD -->

            <div class="col-md-9 p-4">

                <!-- KPI ROW -->

                <div class="row g-4 mb-4">

                    <!-- KPI 1 -->

                    <div class="col-md-3">

                        <div class="card border-0 shadow p-4 h-100">

                            <div class="card-body">

                                <h4 class="text-muted">
                                    Total Output
                                    <img src="{{ url_for('static', filename='icons/production.png') }}" width="24" height="24" class="me-2">
                                </h4>

                                <h1>
                                    {{ "{:,.0f}".format(total_output) }}
                                </h1>

                                {% if selected_product == "All" %}

                                <button class="btn btn-sm btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#outputModal">

                                    View Breakdown

                                </button>

                                {% endif %}

                            </div>

                        </div>

                    </div>

                    

                    <!-- KPI 2 -->

                    <div class="col-md-3">

                        <div class="card border-0 shadow p-4 h-100">

                            <div class="card-body">

                                <h4 class="text-muted">
                                    Avg Efficiency
                                    <img src="{{ url_for('static', filename='icons/avg_efficiency.png') }}" width="24" height="24" class="me-2">
                                </h4>

                                <h1 class="fw-bold">
                                    {{ avg_efficiency }}%
                                </h1>

                            </div>

                        </div>

                    </div>

                    <!-- KPI 3 -->

                    <div class="col-md-3">

                        <div class="card border-0 shadow p-4 h-100">

                            <div class="card-body">

                                <h4 class="text-muted">
                                    Avg Downtime
                                    <img src="{{ url_for('static', filename='icons/downtime.png') }}" width="24" height="24" class="me-2">
                                </h4>

                                <h1 class="fw-bold">
                                    {{ avg_downtime }} Mins
                                </h1>

                            </div>

                        </div>

                    </div>

                    <!-- KPI 4 -->

                    <div class="col-md-3">

                        <div class="card border-0 shadow p-4 h-100">

                            <div class="card-body">

                                <h4 class="text-muted">
                                    Total Defects
                                    <img src="{{ url_for('static', filename='icons/total_defects.png') }}" width="24" height="24" class="me-2">
                                </h4>

                                <h1 class="fw-bold">
                                    {{ "{:,.0f}".format(total_defects) }}
                                </h1>

                                <button class="btn btn-sm btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#defectModal">

                                    View Defect Causes

                                </button>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- OUTPUT BREAKDOWN MODAL -->

                <div class="modal fade" id="outputModal" tabindex="-1">

                    <div class="modal-dialog modal-lg">

                        <div class="modal-content">

                            <!-- HEADER -->

                            <div class="modal-header">

                                <h4 class="modal-title">

                                    Output Breakdown Analytics

                                </h4>

                                <button type="button" class="btn-close" data-bs-dismiss="modal">

                                </button>

                            </div>


                            <!-- BODY -->

                            <div class="modal-body">

                                {% if output_breakdown is not none %}

                                    <!-- ALL MACHINES -->

                                    {% if selected_machine == "All" %}

                                    <table class="table table-bordered">

                                        <thead>

                                            <tr>

                                                <th>Machine ID</th>

                                                <th>Total Output</th>

                                            </tr>

                                        </thead>

                                        <tbody>

                                            {% for index, row in output_breakdown.iterrows() %}

                                            <tr>

                                                <td>

                                                    <button class="btn btn-link text-decoration-none fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#machine{{ index }}">

                                                        {{ row["Machine_ID"] }}

                                                    </button>

                                                </td>

                                                <td>

                                                    {{ "{:,.0f}".format(row["Actual_Output"]) }}

                                                </td>

                                            </tr>

                                            {% for pindex, prow in df[df["Machine_ID"] == row["Machine_ID"]].groupby("Product_Type")["Actual_Output"].sum().reset_index().iterrows() %}

                                            <tr class="collapse" id="machine{{ index }}">

                                                <td class="ps-5 text-muted">

                                                    ↳ {{ prow["Product_Type"] }}

                                                </td>

                                                <td>

                                                    {{ "{:,.0f}".format(prow["Actual_Output"]) }}

                                                </td>

                                            </tr>

                                            {% endfor %}

                                            {% endfor %}

                                        </tbody>

                                    </table>

                                    {% else %}

                                    <!-- SPECIFIC MACHINE -->

                                    <table class="table table-hover table-bordered align-middle">

                                        <thead>

                                            <tr>

                                                <th>Product Type</th>

                                                <th>Total Output</th>

                                            </tr>

                                        </thead>

                                        <tbody>

                                            {% for index, row in output_breakdown.iterrows() %}

                                            <tr>

                                                <td>

                                                    {{ row["Product_Type"] }}

                                                </td>

                                                <td>

                                                    {{ row["Actual_Output"] }}

                                                </td>

                                            </tr>

                                            {% endfor %}

                                        </tbody>

                                    </table>

                                    {% endif %}

                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>

                <!-- DEFECT ANALYSIS MODAL -->

                <div class="modal fade" id="defectModal" tabindex="-1">

                    <div class="modal-dialog modal-lg">

                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title">

                                    AI Defect Cause Analysis

                                </h4>

                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal">

                                </button>

                            </div>


                            <div class="modal-body">

                                {% for cause in defect_causes %}

                                <div class="card mb-4 shadow-sm">

                                    <div class="card-body">

                                        <h5 class="text-danger">

                                            {{ cause.category }}

                                        </h5>

                                        <ul class="mt-3">

                                            {% for issue in cause.issues %}

                                            <li>

                                                {{ issue }}

                                            </li>

                                            {% endfor %}

                                        </ul>

                                    </div>

                                </div>

                                {% endfor %}

                            </div>

                        </div>

                    </div>

                </div>

                <!-- MACHINE PERFORMANCE MODAL -->

                <div class="modal fade" id="performanceModal" tabindex="-1">

                    <div class="modal-dialog modal-xl">

                        <div class="modal-content">

                            <!-- HEADER -->
                            <div class="modal-header">

                                <h3 id="modalTitle" class="mb-0">
                                    Machine Performance Graph
                                </h3>

                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal">
                                </button>

                            </div>

                            <!-- BODY -->
                            <div class="modal-body">

                                <div id="graphLoader" class="text-center py-5">

                                    <div class="spinner-border text-primary"></div>

                                    <p class="mt-3">
                                        Loading graph...
                                    </p>

                                </div>

                                <iframe
                                    id="performanceFrame"
                                    width="100%"
                                    height="500"
                                    style="display:none;border:none;">
                                </iframe>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- AI MACHINE ANALYSIS -->

                <div class="card shadow border-0 mb-4">

                    <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center mb-4">

                            <h3>
                                Machine AI Analysis
                            </h3>

                            <button class="btn bg-{{ risk_color }} text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#riskModal">

                                {{ risk_level }} RISK

                            </button>

                        </div>

                        <div class="row mt-4 g-3">

                            <!-- TEMPERATURE -->

                            <div class="col-md-4">

                                <div class="card p-3 text-center h-100">

                                    <h6>

                                        Temperature
                                        <i class="bi bi-thermometer-half text-secondary"></i>

                                    </h6>

                                    <h3>

                                        {{ avg_temp }}

                                    </h3>

                                    <small>

                                        °C

                                    </small>

                                </div>

                            </div>


                            <!-- OPERATOR EXPERIENCE -->

                            <div class="col-md-4">

                                <div class="card p-3 text-center h-100">

                                    <h6>

                                        Operator Experience
                                        <i class="bi bi-person-workspace text-secondary"></i>

                                    </h6>

                                    <h3>

                                        {{ avg_operator_exp }}

                                    </h3>

                                    <small>

                                        Years

                                    </small>

                                </div>

                            </div>


                            <!-- MATERIAL AVAILABILITY -->

                            <div class="col-md-4">

                                <div class="card p-3 text-center h-100">

                                    <h6>

                                        Material Availability
                                        <img src="{{ url_for('static', filename='icons/material_avail.png') }}" width="22" height="22" class="me-2">

                                    </h6>

                                    <h3>

                                        {{ avg_inventory }}

                                    </h3>

                                    <small>

                                        %

                                    </small>

                                </div>

                            </div>


                            <!-- MATERIAL QUALITY -->

                            <div class="col-md-4">

                                <div class="card p-3 text-center h-100">

                                    <h6>

                                        Material Quality
                                        <img src="{{ url_for('static', filename='icons/material_qual.png') }}" width="24" height="24" class="me-2">

                                    </h6>

                                    <h3>

                                        {{ material_quality_display }}

                                    </h3>

                                    <small>

                                        Production Material Grade

                                    </small>

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="card p-3 text-center">

                                    <h6>
                                        Avg Runtime
                                        <img src="{{ url_for('static', filename='icons/runtime.png') }}" width="24" height="24" class="me-2">
                                    </h6>

                                    <h3>
                                        {{ avg_runtime }}
                                    </h3>

                                    <small>
                                        Hours
                                    </small>

                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="card p-3 text-center">

                                    <h6>
                                        Maintenance Status
                                        <img src="{{ url_for('static', filename='icons/maintenance.png') }}" width="24" height="24" class="me-2">
                                    </h6>

                                    <h3>
                                        {{ maintenance_status }}
                                    </h3>

                                    <small>
                                        Status
                                    </small>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- AI INSIGHTS -->

                <div class="card shadow border-0 mb-4">

                    <div class="card-body">

                        <h3 class="mb-4">

                            AI Manufacturing Insights

                        </h3>

                        <ul class="list-group">

                            {% for insight in ai_insights %}

                            <li class="list-group-item

                                {% if 'temperature' in insight.lower() %}
                                list-group-item-danger

                                {% endif %}

                                ">

                                    {{ insight }}

                            </li>

                            {% endfor %}

                        </ul>

                    </div>

                </div>

                <div class="card shadow-sm p-4 mt-4">

                    <h3 class="mb-4">

                        AI Predictive Analytics

                    </h3>

                    <div class="row g-4">

                        <!-- DELAY RISK -->

                        <div class="col-md-4">

                            <div class="card border-{{ risk_color }} border-2 text-center p-4 h-100 justify-content-center align-items-center text-center">

                                <h5>

                                    Delay Prediction
                                    <i class="bi bi-clock-history text-secondary me-2"></i>

                                </h5>

                                <h3 class="mt-3 text-{{ risk_color }}">

                                    {{ risk_level }} RISK

                                </h3>

                            </div>

                        </div>

                        <!-- DEFECT RISK -->

                        <div class="col-md-4">

                            <div class="card border-{{ defect_color }} border-2 text-center p-4 h-100 justify-content-center align-items-center text-center">

                                <h5>

                                    Defect Prediction
                                    <img src="{{ url_for('static', filename='icons/defect_predict.png') }}" width="24" height="24" class="me-2">

                                </h5>

                                <h3 class="mt-3 text-{{ defect_color }}">

                                    {{ defect_result }}

                                </h3>

                            </div>

                        </div>

                        <!-- FAILURE RISK -->

                        <div class="col-md-4">

                            <div class="card border-{{ failure_color }} border-2 p-4 h-100">

                                <h4 class="text-center">

                                    Failure Prediction
                                    <img src="{{ url_for('static', filename='icons/fail_predict.png') }}" width="24" height="24" class="me-2">

                                </h4>

                                <h2 class="text-center mt-3 text-{{ failure_color }}">

                                    {{ failure_result }}

                                </h2>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="card shadow-sm p-4 mt-4">

                    <h3 class="mb-4">

                        Machine Performance Ranking

                    </h3>

                    <div class="row">

                        <div class="col-md-4">

                            <div class="card border-success border-2 p-3 text-center">

                                <h5>

                                    Best Efficiency
                                    <i class="bi bi-trophy-fill text-secondary me-2"></i>

                                </h5>

                                <button
                                    class="btn btn-link text-decoration-none fs-1 fw-bold text-success"
                                    data-bs-toggle="modal"
                                    data-bs-target="#performanceModal"
                                    onclick="loadPerformanceGraph('efficiency')">

                                    {{ best_efficiency_machine }}

                                </button>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="card border-warning border-2 p-3 text-center">

                                <h5>

                                    Highest Downtime
                                    <i class="bi bi-stopwatch-fill text-secondary me-2"></i>

                                </h5>

                                <button
                                    class="btn btn-link text-decoration-none fs-1 fw-bold text-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#performanceModal"
                                    onclick="loadPerformanceGraph('downtime')">

                                    {{ highest_downtime_machine }}

                                </button>

                            </div>

                        </div>


                        <div class="col-md-4">

                            <div class="card border-danger border-2 p-3 text-center">

                                <h5>

                                    Most Defects
                                    <i class="bi bi-x-octagon-fill text-secondary me-2"></i>

                                </h5>

                                <button
                                    class="btn btn-link text-decoration-none fs-1 fw-bold text-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#performanceModal"
                                    onclick="loadPerformanceGraph('defect')">

                                    {{ most_defect_machine }}

                                </button>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal fade" id="riskModal" tabindex="-1">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title">

                                    Risk Reduction Recommendations

                                </h4>

                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                            </div>

                            <div class="modal-body">

                                <ul class="list-group">

                                    {% for rec in recommendations %}

                                    <li class="list-group-item">

                                        {{ rec }}

                                    </li>

                                    {% endfor %}

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal fade" id="rootCauseModal" tabindex="-1">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title">
                                    Root Cause Analysis
                                </h4>

                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal">
                                </button>

                            </div>

                            <div class="modal-body">

                                <div id="rootCauseContent">

                                    Select a graph point to view analysis.

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- CHART ROW -->

                <div class="row g-4">

                    <!-- GRAPH 1 -->

                    <div class="col-md-6">

                        <div class="card border-0 shadow">

                            <div class="card-body">

                                <h5 class="mb-3">
                                    Production Output Trend
                                </h5>

                                {{ graph1|safe }}

                            </div>

                        </div>

                    </div>

                    <!-- GRAPH 2 -->

                    <div class="col-md-6">

                        <div class="card border-0 shadow">

                            <div class="card-body">

                                <h5 class="mb-3">
                                    Machine Downtime Analysis
                                </h5>

                                {{ graph2|safe }}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>

    window.addEventListener(
            "load",

            function(){

                document.getElementById(
                    "loader"
                ).style.display = "none";

            }
        );

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        function loadPerformanceGraph(type){

            const frame =
            document.getElementById(
                "performanceFrame"
            );

            const loader =
            document.getElementById(
                "graphLoader"
            );

            frame.style.display = "none";

            loader.style.display = "block";

            frame.src = "";

            if(type === "efficiency"){

                frame.src =
                "/static/efficiency_graph.html";

            }

            else if(type === "downtime"){

                frame.src =
                "/static/downtime_graph.html";

            }

            else if(type === "defect"){

                frame.src =
                "/static/defect_graph.html";

            }

            frame.onload = function(){

                loader.style.display = "none";

                frame.style.display = "block";

            };

        }

    </script>

    <script>

        document.addEventListener("DOMContentLoaded", function() {

            const graph = document.getElementById(
                "productionTrendGraph"
            );

            graph.on('plotly_click', function(data) {

                const point = data.points[0];

                const date = point.x;

                const output = point.y;

                const downtime = point.customdata[0];

                const efficiency = point.customdata[1];

                const defects = point.customdata[2];

                const temperature = point.customdata[3];

                const inventory = point.customdata[4];

                const reasons = [];

                if(downtime > 60){

                    reasons.push(
                        "Downtime was unusually high."
                    );

                }
                if(temperature > 90){

                    reasons.push(
                        "Machine temperature exceeded safe range."
                    );

                }
                if(defects > 500){

                    reasons.push(
                        "Defect count increased significantly."
                    );

                }
                if(inventory < 300){

                    reasons.push(
                        "Inventory level was low."
                    );

                }
                if(efficiency < 75){

                    reasons.push(
                        "Production efficiency dropped."
                    );

                }
                let explanation = "";

                if(reasons.length > 0){

                    explanation =
                        reasons.join("<br>");

                }
                else{

                    explanation =
                        "No significant abnormality detected.";

                }

                document.getElementById(
                    "rootCauseContent"
                ).innerHTML = `

                <h5>Production Date</h5>

                <p>${date}</p>

                <hr>

                <h5>Output</h5>

                <p>${output.toLocaleString()}</p>

                <hr>

                <table class="table table-bordered">

                <tr>
                    <th>Downtime</th>
                    <td>${downtime.toFixed(2)} mins</td>
                </tr>

                <tr>
                    <th>Efficiency</th>
                    <td>${efficiency.toFixed(2)} %</td>
                </tr>

                <tr>
                    <th>Defects</th>
                    <td>${defects.toFixed(0)}</td>
                </tr>

                <tr>
                    <th>Machine Temperature</th>
                    <td>${temperature.toFixed(2)} °C</td>
                </tr>

                <tr>
                    <th>Inventory Level</th>
                    <td>${inventory.toFixed(0)}</td>
                </tr>

                </table>

                <hr>

                <h5>
                Possible Root Cause
                </h5>

                <p>

                ${explanation}

                </p>

                `;

                new bootstrap.Modal(
                    document.getElementById(
                        "rootCauseModal"
                    )
                ).show();

            });

        });
        

    </script>

    <!-- CHATBOT BUTTON -->

    <button id="chatbotBtn">

        <img src="{{ url_for('static', filename='icons/chatbot.png') }}" width="24" height="24" class="me-2">

    </button>


    <!-- CHATBOT WINDOW -->

    <div id="chatbotWindow" style="display:none;">

        <div id="chatbotHeader">

            EMS Assistant

        </div>

        <div id="quickActions">

            <button class="quick-btn">M-101</button>
            <button class="quick-btn">M-102</button>
            <button class="quick-btn">M-103</button>

            <button class="quick-btn">Shift A</button>
            <button class="quick-btn">Shift B</button>
            <button class="quick-btn">Shift C</button>

            <button class="quick-btn">Last 7 Days</button>
            <button class="quick-btn">Last 30 Days</button>

            <button class="quick-btn">PCB</button>
            <button class="quick-btn">Microchip</button>

        </div>

        <div id="chatMessages">

            <div class="bot-message">

                Hello 👋

                <br><br>

                Try:

                <br>

                • show machine M-103

                <br>

                • shift B

                <br>

                • last 30 days

            </div>

        </div>

        <div id="chatInputArea">

            <input
                type="text"
                id="chatInput"
                class="form-control mb-2"
                placeholder="Type command..."
            >

            <button
                id="sendBtn"
                class="btn btn-primary w-100"
            >
                Send
            </button>

        </div>

    </div>

    <script>

        function scrollChat(){

            const messages =
            document.getElementById(
                "chatMessages"
            );

            messages.scrollTo({

                top: messages.scrollHeight,

                behavior: "smooth"

            });

        }

        document.getElementById("chatbotBtn").onclick = function(){

            const chat =
            document.getElementById("chatbotWindow");

            if(window.getComputedStyle(chat).display==="none"){

                chat.style.display="flex";

            }

            else{

                chat.style.display="none";

            }

        }

        document.getElementById(
            "sendBtn"
        ).onclick = function(){

            const input =
            document.getElementById(
                "chatInput"
            );

            const message =
            input.value.toLowerCase();

            input.value = "";

            const currentTime = new Date().toLocaleTimeString(
                [],
                {
                    hour: '2-digit',
                    minute: '2-digit'
                }
            );

            console.log("FETCH RUNNING");
            console.log(message);

            fetch(
                "/chat?message=" +
                encodeURIComponent(message)
            )

            .then(response =>

                response.json()

            )

            .then(data => {

                console.log(
                    "NLP RESPONSE:",
                    data
                );

                let botReply = "";

                if(message.includes("hello")){

                    botReply =
                    "Hello 👋<br>" +
                    "How can I assist you with production analytics today?";
                }

                else if(message.includes("thank")){

                    botReply =
                    "You're welcome 😊";
                }

                else if(message.includes("how are you")){

                    botReply =
                    "I'm working perfectly and ready to help analyze production data.";
                }

                if(data.machine && data.intent!="compare_machine"){

                    document.getElementById(
                        "machine"
                    ).value =
                    data.machine;

                    botReply +=
                    "Machine set to " +
                    data.machine +
                    "<br>";

                    filterChanged = true;
                }

                if(data.shift){

                    document.getElementById(
                        "shift"
                    ).value =
                    data.shift;

                    botReply +=
                    "Shift set to " +
                    data.shift +
                    "<br>";

                    filterChanged = true;
                }

                if(data.product){

                    document.getElementById(
                        "product_id"
                    ).value =
                    data.product;

                    botReply +=
                    "Product set to " +
                    data.product +
                    "<br>";

                    filterChanged = true;
                }

                if(data.duration){

                    document.getElementById(
                        "duration"
                    ).value =
                    data.duration;

                    botReply +=
                    "Duration set to " +
                    data.duration +
                    "<br>";

                    filterChanged = true;
                }

                if(data.analytics_answer){

                    botReply += data.analytics_answer + "<br>";

                }

                if(data.intent=="greeting" && botReply==""){

                    botReply =
                    "Hello 👋<br>" +
                    "How can I assist you with production analytics today?";

                }

                if(botReply === ""){

                    botReply =
                    "Sorry, I didn't understand that command.<br>" +
                    "Try:<br>" +
                    "• M-101<br>" +
                    "• Shift B<br>" +
                    "• PCB<br>" +
                    "• Best Efficiency<br>" +
                    "• Highest Downtime";
                }

                messages.innerHTML += `

                <div class="bot-message">

                    ${botReply}

                    <div class="chat-time">

                        ${currentTime}

                    </div>

                </div>

                `;

                scrollChat();

                sessionStorage.setItem(
                    "chatHistory",
                    messages.innerHTML
                );

                if(filterChanged){

                    document.getElementById(
                        "filterForm"
                    ).submit();

                }

            });

            const messages =
            document.getElementById(
                "chatMessages"
            );

            messages.innerHTML += `

            <div class="user-message">

                ${message}

                <div class="chat-time">

                    ${currentTime}

                </div>

            </div>

            `;

            scrollChat();

            messages.scrollTop =
            messages.scrollHeight;

            sessionStorage.setItem(
                "chatHistory",
                messages.innerHTML
            );

            messages.scrollTop =
            messages.scrollHeight;

            sessionStorage.setItem(
                "chatHistory",
                messages.innerHTML
            );

            // APPLY FILTERS

            // if(filterChanged){

            //     document.getElementById(
            //         "filterForm"
            //     ).submit();

            // }

        };

        document.getElementById(
            "chatInput"
        ).addEventListener(
            "keydown",
            function(event){

                if(
                    event.key === "Enter"
                    &&
                    !event.shiftKey
                ){

                    event.preventDefault();

                    document.getElementById(
                        "sendBtn"
                    ).click();

                }

            }
        );

        window.onload = function(){

            const savedHistory =
                sessionStorage.getItem(
                    "chatHistory"
                );

                if(savedHistory){

                    document.getElementById(
                        "chatMessages"
                    ).innerHTML = savedHistory;

                }

                scrollChat();

            const messages =
            document.getElementById(
                "chatMessages"
            );

            messages.scrollTop =
            messages.scrollHeight;

        };

        document.querySelectorAll(
            ".quick-btn"
        ).forEach(button => {

            button.addEventListener(
                "click",
                function(){

                    document.getElementById(
                        "chatInput"
                    ).value = this.innerText;

                    document.getElementById(
                        "sendBtn"
                    ).click();

                }
            );

        });

    </script>

    <script>

        const bestMachine =
        "{{ best_efficiency_machine }}";

        const downtimeMachine =
        "{{ highest_downtime_machine }}";

        const defectMachine =
        "{{ most_defect_machine }}";

        const riskLevel =
        "{{ risk_level }}";

        const defects =
        "{{ total_defects }}";

    </script>

</body>

</html>